name: Build Caddy image with GHA
on:
  push:
    branches:
      - main
    paths-ignore:
          - '**/README.md'

jobs:
  build-and-push-caddy-container:
    name: Build Caddy Container
    runs-on: ubuntu-latest
    env:
      # Containerfile to build
      CONTAINERFILE: Containerfile

      # Destination image namespace and name (eg: myrepo/myimage)
      DEST_IMAGE: "${{ github.repository }}"

      # Destination registry for built images
      DEST_REGISTRY_HOST: "ghcr.io"
      DEST_REGISTRY_USER: "${{ github.actor }}"
      DEST_REGISTRY_PASSWORD: "${{ secrets.GITHUB_TOKEN }}"

    container:
      image: registry.access.redhat.com/ubi9/ubi
      options: --privileged
    permissions:
      contents: write
      packages: write

    steps:
      - name: Clone the repository
        uses: actions/checkout@v4

      - name: Generate short SHA
        id: vars
        run: echo "short_sha=$(echo ${{ GITHUB.SHA }} | cut -c1-7)" >> $GITHUB_OUTPUT

      - name: Get container tools in UBI builder
        run: dnf -y install podman buildah skopeo

      # workaround for https://github.com/redhat-actions/podman-login/issues/42 since the docker config from the host doesn't come up to the container
      - name: Workaround open podman-login action issue
        env:
          auth: "{ \"auths\": {} }"
        run: |
          mkdir -p $HOME/.docker
          echo $auth > $HOME/.docker/config.json

      - name: Use buildah bud to create the image
        id: build-image
        uses: redhat-actions/buildah-build@v2
        with:
          image: ${{ env.DEST_IMAGE }}
          tags: latest ${{ steps.vars.outputs.short_sha }}
          containerfiles: ${{ env.CONTAINERFILE }}
          build-args: |
            CF_TAG="v0.2.2"
            CADDY_TAG="2.11"

      - name: Log in to the GitHub Container registry
        uses: redhat-actions/podman-login@v1
        with:
          registry: ${{ env.DEST_REGISTRY_HOST }}
          username: ${{ GITHUB.ACTOR }}
          password: ${{ secrets.GITHUB_TOKEN }}
          auth_file_path: /run/containers/0/auth.json

      - name: Push to GitHub Container Repository
        id: push-to-ghcr
        uses: redhat-actions/push-to-registry@v2
        with:
          image: ${{ steps.build-image.outputs.image }}
          tags: ${{ steps.build-image.outputs.tags }}
          registry: ${{ env.DEST_REGISTRY_HOST }}
